In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error

In [33]:
df = pd.read_csv("Coffe_sales.csv")
df

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time
0,10,card,38.70,Latte,Morning,Fri,Mar,5,3,2024-03-01,10:15:50.520000
1,12,card,38.70,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:19:22.539000
2,12,card,38.70,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:20:18.089000
3,13,card,28.90,Americano,Afternoon,Fri,Mar,5,3,2024-03-01,13:46:33.006000
4,13,card,38.70,Latte,Afternoon,Fri,Mar,5,3,2024-03-01,13:48:14.626000
...,...,...,...,...,...,...,...,...,...,...,...
3542,10,card,35.76,Cappuccino,Morning,Sun,Mar,7,3,2025-03-23,10:34:54.894000
3543,14,card,35.76,Cocoa,Afternoon,Sun,Mar,7,3,2025-03-23,14:43:37.362000
3544,14,card,35.76,Cocoa,Afternoon,Sun,Mar,7,3,2025-03-23,14:44:16.864000
3545,15,card,25.96,Americano,Afternoon,Sun,Mar,7,3,2025-03-23,15:47:28.723000
3546,18,card,35.76,Latte,Night,Sun,Mar,7,3,2025-03-23,18:11:38.635000

In [34]:
df.drop("Time",axis=1,inplace=True)
df

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date
0,10,card,38.70,Latte,Morning,Fri,Mar,5,3,2024-03-01
1,12,card,38.70,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01
2,12,card,38.70,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01
3,13,card,28.90,Americano,Afternoon,Fri,Mar,5,3,2024-03-01
4,13,card,38.70,Latte,Afternoon,Fri,Mar,5,3,2024-03-01
...,...,...,...,...,...,...,...,...,...,...
3542,10,card,35.76,Cappuccino,Morning,Sun,Mar,7,3,2025-03-23
3543,14,card,35.76,Cocoa,Afternoon,Sun,Mar,7,3,2025-03-23
3544,14,card,35.76,Cocoa,Afternoon,Sun,Mar,7,3,2025-03-23
3545,15,card,25.96,Americano,Afternoon,Sun,Mar,7,3,2025-03-23
3546,18,card,35.76,Latte,Night,Sun,Mar,7,3,2025-03-23

In [35]:
df.drop("Date",axis=1,inplace=True)
df

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort
0,10,card,38.70,Latte,Morning,Fri,Mar,5,3
1,12,card,38.70,Hot Chocolate,Afternoon,Fri,Mar,5,3
2,12,card,38.70,Hot Chocolate,Afternoon,Fri,Mar,5,3
3,13,card,28.90,Americano,Afternoon,Fri,Mar,5,3
4,13,card,38.70,Latte,Afternoon,Fri,Mar,5,3
...,...,...,...,...,...,...,...,...,...
3542,10,card,35.76,Cappuccino,Morning,Sun,Mar,7,3
3543,14,card,35.76,Cocoa,Afternoon,Sun,Mar,7,3
3544,14,card,35.76,Cocoa,Afternoon,Sun,Mar,7,3
3545,15,card,25.96,Americano,Afternoon,Sun,Mar,7,3
3546,18,card,35.76,Latte,Night,Sun,Mar,7,3

In [36]:
df.drop("Time_of_Day",axis=1,inplace=True)
df

,hour_of_day,cash_type,money,coffee_name,Weekday,Month_name,Weekdaysort,Monthsort
0,10,card,38.70,Latte,Fri,Mar,5,3
1,12,card,38.70,Hot Chocolate,Fri,Mar,5,3
2,12,card,38.70,Hot Chocolate,Fri,Mar,5,3
3,13,card,28.90,Americano,Fri,Mar,5,3
4,13,card,38.70,Latte,Fri,Mar,5,3
...,...,...,...,...,...,...,...,...
3542,10,card,35.76,Cappuccino,Sun,Mar,7,3
3543,14,card,35.76,Cocoa,Sun,Mar,7,3
3544,14,card,35.76,Cocoa,Sun,Mar,7,3
3545,15,card,25.96,Americano,Sun,Mar,7,3
3546,18,card,35.76,Latte,Sun,Mar,7,3

In [37]:
df.isna().sum()

hour_of_day    0
cash_type      0
money          0
coffee_name    0
Weekday        0
Month_name     0
Weekdaysort    0
Monthsort      0
dtype: int64

In [62]:
df['coffee_name'].nunique()

8

In [38]:
#encoding--converting string into numerical 
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for column in ["cash_type","coffee_name","Weekday","Month_name"]:
    df[column]=le.fit_transform(df[column])
df

,hour_of_day,cash_type,money,coffee_name,Weekday,Month_name,Weekdaysort,Monthsort
0,10,0,38.70,7,0,7,5,3
1,12,0,38.70,6,0,7,5,3
2,12,0,38.70,6,0,7,5,3
3,13,0,28.90,0,0,7,5,3
4,13,0,38.70,7,0,7,5,3
...,...,...,...,...,...,...,...,...
3542,10,0,35.76,2,3,7,7,3
3543,14,0,35.76,3,3,7,7,3
3544,14,0,35.76,3,3,7,7,3
3545,15,0,25.96,0,3,7,7,3
3546,18,0,35.76,7,3,7,7,3

In [39]:
#separate the independent and dependent variables
x = df.drop(columns=['money'])  #Independent variables
y = df['money']

In [40]:
x.columns

Index(['hour_of_day', 'cash_type', 'coffee_name', 'Weekday', 'Month_name',
       'Weekdaysort', 'Monthsort'],
      dtype='object')

In [41]:
y

0       38.70
1       38.70
2       38.70
3       28.90
4       38.70
        ...
3542    35.76
3543    35.76
3544    35.76
3545    25.96
3546    35.76
Name: money, Length: 3547, dtype: float64

In [42]:
ss=StandardScaler()
x_scaled= ss.fit_transform(x)

In [43]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)   #spliting data--0.3=70%,30%
print(x_train,x_test,y_train,y_test)

      hour_of_day  cash_type  coffee_name  Weekday  Month_name  Weekdaysort  \
944            21          0            0        6           5            3
199            14          0            2        2           0            6
3351           15          0            0        1           7            1
2276           16          0            2        5           9            2
801            17          0            6        2           6            6
...           ...        ...          ...      ...         ...          ...
1130           11          0            4        2           1            6
1294           10          0            7        1           1            1
860            11          0            1        5           5            2
3507           19          0            2        4           7            4
3174            8          0            0        6           3            3

      Monthsort
944           7
199           4
3351          3
2276         11
801           6
...         ...
1130          8
1294          8
860           7
3507          3
3174          2

[2482 rows x 7 columns]       hour_of_day  cash_type  coffee_name  Weekday  Month_name  Weekdaysort  \
299            19          0            1        5           0            2
2550           21          0            7        6           2            3
3079           17          0            2        6           3            3
2342           14          0            3        2           9            6
1211           15          0            5        0           1            5
...           ...        ...          ...      ...         ...          ...
2646           15          0            1        4           4            4
1427           18          0            7        1          11            1
1957            7          0            2        5          10            2
1284            8          0            4        3           1            7
2321           16          0            7        5           9            2

      Monthsort
299           4
2550         12
3079          2
2342         11
1211          8
...         ...
2646          1
1427          9
1957         10
1284          8
2321         11

[1065 rows x 7 columns] 944     23.02
199     38.70
3351    25.96
2276    35.76
801     37.72
        ...
1130    23.02
1294    32.82
860     27.92
3507    35.76
3174    25.96
Name: money, Length: 2482, dtype: float64 299     32.82
2550    35.76
3079    35.76
2342    35.76
1211    18.12
        ...
2646    30.86
1427    32.82
1957    35.76
1284    23.02
2321    35.76
Name: money, Length: 1065, dtype: float64

In [44]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(2482, 7)
(1065, 7)
(2482,)
(1065,)

In [45]:
#model training
model=LinearRegression()
model.fit(x_train,y_train)
model

LinearRegression()

In [46]:
y_pred=model.predict(x_test) 
y_pred

array([30.60177662, 34.45624217, 31.66620197, ..., 29.07699991,
       30.29168129, 34.47183338])

In [47]:
#evaluate modle
mse=mean_squared_error(y_test,y_pred)
print(f"Mean Squared Error : {mse}")

Mean Squared Error : 17.867252126416535

In [48]:
mae = mean_absolute_error(y_test, y_pred)
print(f"Mean absolute Error : {mae}")

Mean absolute Error : 3.2808567852286785

In [49]:
r2=r2_score(y_test,y_pred) #0,100
#r2_score-evaluates how well the regression model fits the date
print(f"R-squared : {r2*100}")

R-squared : 23.43242279002148

In [66]:
#predicting new model
new_experience=np.array([[10,0,7,0,7,5,3]]) #predicting sales for 5 years of 
predicted_sale=model.predict(new_experience)
print(f"predicting sales for 5 years :$ {predicted_sale}")

predicting sales for 5 years :$ [34.74123533]

C:\Users\Appi\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [ ]:
#plot the confusion matrix
plt.figure(figsize=(5,5))
sns.heatmap(conf_matrix,annot=True,fmt='d',cmap='Blues',xticklabels=rf_model.classes_,yticklabels=rf_model.classes_)
plt.xlabel('Predicted')
plt.ylabel('Actual')
plt.title('Confusion Matrix')
plt.show()